body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url(../img/background_grey.jpg);
  background-size: contain;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*#####   Menu bar styles   ######*/

#menu-bar{
  width: 0%;
  height: 0px;
  padding-bottom: 80px;
  border: 0px;
  margin: 0px;
  background-image: url(../img/operators.jpg);
  background-size: cover;
  background-color: red;
}

#menu-bar nav {
  position: fixed;
  top: o;
}

#menu-bar ul {
  width: 100%;
  height: 80px;
  background: #000000;
  line-height: 80px;
  color: white;
  position: fixed;
}

#menu-bar ul a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

#menu-bar ul li {
  color: white;
  font-size: 1.7rem;
  font-family: 'Khand', sans-serif;
  list-style-type: none;
  display: inline-block;
  float: right;
}

#menu-bar ul li:hover {
  background: orange;
  color: white;
  font-weight: bold;
  transition:all 0.40s;
}

/*dropdown container*/
.dropdown {
  float: left;
  overflow: hidden;
}

/*dropdown button*/
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  font-size: 1.7rem;
  font-family: 'Khand', sans-serif;
  padding : 19px;
}

/*hover on navbar*/
#nav li a:hover, .dropdown:hover .dropbtn {
  background-color: orange;
}

/*hidden dropdown content*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #6d4c41;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#nav img {
  width: 9%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  background-color: red;

}


/*Content*/

h2{
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding-top: 30px;
  font-size: 70px;
  color: orange;
  font-family: 'Khand', sans-serif;
  border-bottom: double;

}

img {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 380px;
  z-index: 1001;
}

table {
  padding-top: 70px;
  padding-bottom: 200px;
}

td {
  text-align: center;
}

.modes {
  font-size: 30px;
  color: #54442c;
  font-family: verdana;
}

.modes:hover a {
  color: #00695c;
}

img:hover {
  opacity: 0.7;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(243, 156, 18, 0.7); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/*  ######  footer div    ######   */

#footer {
  width: 100%;
  height: 160px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: black;
  clear: both;
  font-family: verdana;

}

#footer-left {
  float: left;
  width: 33%;
  color: #ffa726;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

#footer-center{
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 130px;
  color: #ffa726;

}

#footer-right {
  float: right;
  width: 33%;
  color: #ffa726;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

a:link, a:visited {
    color: #7f0000;
}

a:hover {
  color: #00695c;
}


.icons {
  zoom: 1.6;
  color: black;
}
